<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Small Talk</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130407317-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130407317-1');
    </script>
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

  <div class="container-fluid">
    <div id="chat-body" class="panel panel-default">
        <div class="panel-heading"><a href="https://github.com/sun603/smalltalk"><strong>Small Talk</strong></a></div>
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group">
                <li class="text-left response list-group-item">Hi! How are you doing? Ready for some social practice? </li>
                <!-- onroll -->
            </ul>
        </div>
        <div  class="panel-footer">
        <form id="chat-form" method="post" action="/post/">
        <div id="chat-bottom" class="input-group">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
            <span class="input-group-btn">
                <input class="btn btn-danger" id="send" type="submit" value="Send"/>
            </span>
        </div>
        </form>
        </div>
    </div>
  </div>
</body>
<script src="{% static 'app.js' %}"></script>
</html>